<html>
  <head>
      <meta charset="utf-8" />
    <title>{{titre}}</title>
    <meta content="">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='icones/css/font-awesome.min.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>


  </head>
  <body>
  <div id="div-left">

    <div class="titre" style="text-align:center;"><h1><span id="logo" style="margin-left:-8px;font-size:50px;">O</span></h1></div>



    <ul>
      <a href="/"><li> <i class="fa fa-home fa-2x"></i> </li></a>
      <a href="/Sauvegarde"<li><li> <i class="ico-menu fa fa-file-archive-o fa-2x"></i></li></a>
      <a href="/Restaure"<li><li> <i class="ico-menu fa fa-tablet fa-2x" style="margin-left:2px;"></i></li></a>
      <a href="/Deploie"<li><li> <i class="ico-menu fa fa-tablet fa-2x" style="margin-left:-3px;"></i><i class="ico-menu fa fa-tablet fa-2x" style="margin-left:-10px;" ></i></li></a>
      <a href="/Devices"<li><li> <i class="ico-menu fa fa-info-circle  fa-2x"></i> </li></a>
      <a href="/Applications"<li><li> <i class="fa fa-play-circle-o fa-2x"></i></li></a>
      <a href="/Systeme"<li><li> <i class="ico-menu fa fa-cogs fa-2x"></i></li></a>
    </ul>

</div>



<div id="div-right">




<div id="app" class="content" style="background:url('static/images/fond_3.png');">
  <h2 >Deploie <br/>
  <i id="ico" class="Recharger fa fa-spinner fa-3x "></i><div>
   </h2>

  <form id="sauv" action="" method="post" style="padding-left:20px;margin-top:50px;">

    <p> Restauration sur tous les devices connectés </p>


    <p> Selectionner le  backup  : </p>
    <select id="listbackup" name="nom_backup"  style="margin-left:20px;margin-top:5px;"/>
    {% for backup in backups: %}
    <option value="{{ backup }}" selected>{{backup}} </option>
    {% endfor %}
    </select>
    <br/>

<input type="submit" value="Démarrer le deploiement" style="margin-top:30px;" onclick="document.getElementById('ico').className='fa fa-spinner fa-pulse fa-3x';" />

  </form>
</div>

</div>





<div id="message">
<div  id="device0" class="messagebox">
    <h1  class="messagealerte"> <i class="fa fa-usb"></i> Aucun périphérique n'a été détécté</h1>
    <p> Brancher le périphérique  et activer le mode débugage USB</p>
    <div class="sortie">
      <a href=""><i class="fa fa-refresh fa-1x "></i><a>
    </div>
</div>

<div id="backup0" class="messagebox">
  <h1 class="messagealerte"> <i class="fa fa-exclamation-triangle"></i> Aucune sauvegarde n'a été trouvée.</h1>

  Vérifier qu'au moins une sauvegarde est présente dans /media/Backups/Backups</p>
  <div class="sortie">
    <a href="/">  OK </a>
  </div>
</div>


<div id="sauvegarde0" class="messagebox">
  <h1 class="messagealerte"> <i class="fa fa-exclamation-triangle"></i> La sauvegarde invalide.</h1>
  <p> La taille de la sauvegarde sélectionnée est de 0 octet, il y a certainement un problème.</p>
  <div class="sortie">
    <a href="">  OK </a>
  </div>
</div>


<div id="messagefin" class="messagebox">
  <h1 class="messagealerte"> <i class="fa fa-info-circle"></i>  Restauration en cours.</h1>
  <p> La restauration  de la sauvegarde {{nom_backup}}  sur les péripheriques  est en cours. <br/><br/>
  <i class="fa fa-exclamation fa-2x"></i>  Pensez à autoriser la restauration sur les différents devices.

  </p>
  <div class="sortie">
  <a href="/">  OK</a>
  </div>
</div>






{% if messagebox !="" %}
<script>
document.getElementById('message').style.display="flex";
</script>
{% endif %}
{% if messagebox =="device" %}
<script>
document.getElementById('device0').style.display="block";
</script>
{% endif%}
{% if messagebox =="sauvegarde" %}
<script>
document.getElementById('sauvegarde0').style.display="block";
</script>
{% endif%}
{% if messagebox =="backup" %}
<script>
document.getElementById('backup0').style.display="block";
</script>
{% endif%}
{% if messagebox =="messagefin" %}
<script>
document.getElementById('messagefin').style.display="block";
</script>
{% endif%}



  </body>
  </html>
